extends layout

block content
  h1= title
  p Welcome to #{title}

  p Sommaire
  ul
  li BDD
  li commencer a chercher comment faire un get sur node
  li parce que node c'est du caca
  li Core app
  li laison extreme
  li Template 
